$black: #000000;
$white: #FFFFFF;

$text: #131A29;
$shadow: #E4E7F2;
$border: #E4E7F2;
$autofill: rgba(55, 75, 118, 0.7);
$scrollbar: #f5f5f5;
$scrollbar-thumb: #555555;
$background-body: #F2F2FD;
//$background-bg: #F7FAFB;

//TODO
$orange-1: #F4A425;
$orange-2: #F7BB5C;
$orange-3: #F8C677;
$orange-4: #FCE8C9;

$red-1: #C92700;
$red-2: #F02E00;
$red-3: #FFC1B2;
$red-4: #FFE0D8;
$red-5: #ffe9e6;

$green-1: #19C964;
$green-2: #22E474;
$green-3: #42E788;
$green-4: #61EB9C;
$green-5: #81EFB0;
$green-6: #A0F3C4;
$green-7: #C0F7D7;
$green-8: #DFFBEB;

$blue-1: #0000B6;
$blue-2: #0909FF;
$blue-3: #5B5BFF;
$blue-4: #8484FF;
$blue-5: #ADADFF;
$blue-6: #D6D6FF;

$light-blue-1: #0072F5;
$light-blue-2: #1783FF;
$light-blue-3: #3895FF;
$light-blue-4: #59A6FF;
$light-blue-5: #7BB8FF;
$light-blue-6: #9CCAFF;
$light-blue-7: #BDDCFF;
$light-blue-8: #DEEDFF;

$navy-blue-1: #131A29;
$navy-blue-2: #25324F;
$navy-blue-3: #374B76;
$navy-blue-4: #48639C;
$navy-blue-5: #657FB8;
$navy-blue-6: #8C9FCA;
$navy-blue-7: #B2BFDB;
$navy-blue-8: #D9DFED;

$gray-1: #8D97AD;
$gray-2: #AAB1C2;
$gray-3: #E4E7F2;
$gray-4: #F7FAFB;

$blue-alert: #001F42;
$green-alert: #133031;
$orange-alert: #432A03;
$red-alert: #31232C;
