@import "palet";

:root {
  --white: #{$white};
  --text: #{$text};
  --border: #{$border};
  --shadow: #{$shadow};
  --placeholder: #{$gray-1};
  --background-body: #{$background-body};
  --foter-text: #{$gray-1};
  --link: #{$light-blue-1};
  //--background-container: #{$background-bg};

  // Form
  --input-placeholder: #{$gray-1};
  --input-readonly-text: #{$gray-1};
  --input-text: #{$navy-blue-3};
  --input-error: #{$red-4};
  --input-background: #{$gray-3};
  --uploaded-title: #{$navy-blue-7};

  --button-green: #19c964;
  --button-green-focus: #22e474;
  --button-green-disable: #81efb0;

  // Toast
  --toast-info: #{$light-blue-1};
  --toast-warning: #{$orange-1};
  --toast-error: #{$red-2};
  --toast-success: #{$green-1};
  --toast-icon-info: #{$light-blue-8};
  --toast-icon-warning: #{$orange-4};
  --toast-icon-error: #{$red-4};
  --toast-icon-success: #{$green-8};
}


